[user]
	name = Michael Friderich
	email = michael@frideri.ch

[core]
	editor = nvim
	autocrlf = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[includeIf "gitdir:~/Git/Work/*"]
	path = ~/.gitconfig_work

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[pull]
	rebase = true
