[user]
	name = Michael Friderich
	email = michael@frideri.ch

[core]
	editor = nvim
	autocrlf = input

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[alias]
	a = add
	c = commit
	st = status
	dog = log --all --decorate --oneline --graph  
